html {
    font-size: 36px;
}

.title p{
    text-align: center;
}

#desc p {
    text-align: left;
    font-size: 1.0rem
}

#jes {
    text-align: center;
}

#jes #original-img {
    margin-right: 10px;
}

#jes #dis {
    border: 1px solid black;
}

#jes #output-img {
    margin-left: 10px;
}

.inputs {
    width: 100%;
    font-size: 1.0rem;
    display: inline-block;
    overflow: hidden
}

.input .editor {
    width:80%
}

.inputs .baker {
    display: block;
    float:left;
    width: 9%;
    text-align: center;
    border: 1px solid black;
    height: auto;
    border-radius: 5px;
    
    padding: 20px 0px;
}
.inputs .baker:hover {
    background-color: gray;
    cursor: pointer;
}

#kiosk {
    font-size: 1.0rem
}

@media screen and (min-device-width: 700px) {
    html {
        font-size: 16px;
    }
}